<div ng-include="url.templateUrl" style="display:inline;"></div>
<br/>
<br/>
<br/>


<div ng-controller="dataCollectionCtrl" class="box">

     <form class="form-horizontal midSection" name="PageOneForm">

         <!--First section of the project table-->
         <div class="bs-docs-section" ng-show="part1">

             <div class="page-section-header">
                 <div class="section-icon">
                     <i class="">
                         <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                     </i>
                 </div>
                 <h4 id="h5">Data gathering</h4>
                 <hr />
             </div>

             <div class="innerSection">

                 <!-- USER FEEDBACK -->
                 <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                 <h5 id="subHeading">Bat Details</h5>
                 <hr />
                 <!-- Tattoo number -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Currently has Tattoo number</label>
                     <div class="col-sm-9">
                         <div>

                           <oi-select oi-options="x.name for x in tattooChoices"
                                      ng-model="usersTattoAns"
                                      ng-change="updateTattooValidation()"
                                      required
                                      placeholder="Has Tattoo number"></oi-select>

                           <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>

                     </div>
                 </div>
                 <div id="Department-group" class="form-group" ng-show="isTattoo">
                     <label class="col-sm-3 control-label">Tattoo number</label>
                     <div class="col-sm-9">
                         <div>

                           <oi-select oi-options="x.value for x in currentTattoos"
                                      ng-model="recaptureTattoo"
                                      ng-change="tattooFunc()"
                                      required
                                      placeholder="Enter Tattoo number"></oi-select>

                            <!-- <input type="text" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control"> -->

                           <!-- <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span> -->
                         </div>

                     </div>
                 </div>



                 <!--Project Title-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">CVZ Laboratory Number</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="projectTitle" class="form-control"  ng-model="cvzCurrentNum" required maxlength="250" disabled></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorProjectTitle}}</span>
                         </div>

                     </div>
                 </div>

                 <!--Field sheet-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Field Sheet</label>
                     <div class="col-sm-9">
                         <div>

                             <oi-select oi-options="x.name for x in yesNo"
                                        ng-model="fieldSheetAns"
                                        placeholder="Select status"></oi-select>

                             <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>
                     </div>
                 </div>

                 <!--Necropsy sheet-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Necropsy Sheet</label>
                     <div class="col-sm-9">
                         <div>

                             <oi-select oi-options="x.name for x in yesNo"
                                        ng-model="necropsySheetAns"
                                        placeholder="Select status"></oi-select>

                             <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>
                     </div>
                 </div>


                 <!-- TCome back to it -->

                  <!-- Other Project Number -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Other Project Number</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="otherProjectNumber" class="form-control"  ng-model="otherProjNum"  maxlength="250"></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                         </div>
                     </div>
                 </div>

                 <!-- Museum Number -->
                <div id="Department-group" class="form-group">
                    <label class="col-sm-3 control-label">Museum Number</label>
                    <div class="col-sm-9">
                        <div>
                            <input type="text" name="museumNumber" class="form-control"  ng-model="museumNum"  maxlength="250"></input>
                            <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                        </div>
                    </div>
                </div>

                 <!--Experimental Colony-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Experimental Colony</label>
                     <div class="col-sm-9">
                         <div>

                           <oi-select oi-options="x.name for x in requiredYesNo"
                                      ng-model="experiColonAns"
                                      required
                                      placeholder="Indicate if live bat was taken to NCID for experimental purpose"></oi-select>
                         </div>
                         <p id="help-block"> * Required</p>
                     </div>
                 </div>

                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Source / Host</label>
                     <div class="col-sm-9">
                       <div>

                         <oi-select oi-options="x for x in hostOptions"
                                    ng-model="currentSource"
                                    required
                                    placeholder="Type of bat sampled"></oi-select>
                       </div>
                       <p id="help-block"> * Required</p>

                     </div>
                 </div>

                 <!--Date Collected-->
                 <div id="Department-group" class="form-group row">
                     <label class="col-sm-3 control-label">Date Collected</label>
                     <div class="col-sm-9">
                       <div>
                          <md-datepicker md-current-view="year" md-placeholder="Enter date" id="date-select-box" name="DateFrom" ng-change="dateValidatePro(project)" ng-model="project.DateFrom" ></md-datepicker>
                      </div>
                     </div>
                     <p ng-show="project.DateFrom == null" id="help-block"> * Required</p>
                 </div>
                 <div id="Department-group" class="form-group">
                    <label class="col-sm-3 control-label" style="color:red;"></label>
                    <div class="col-sm-6">
                        <div>
                            <div ng-show="project.dateMessage" style="color:red;">{{project.dateMessage}}</div>

                        </div>
                    </div>

                </div>

                 <!--Species-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Species</label>
                     <div class="col-sm-9">
                         <div>

                             <oi-select oi-options="x for x in speciesTypes"
                                        ng-model="currentSpecies"
                                        ng-required
                                        placeholder="Select Species"></oi-select>


                             <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>
                         <p ng-show="project.DateFrom == null" id="help-block"> * Required</p>
                     </div>
                 </div>


                 <!-- Confirmation of species identification -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Confirmation of species identification</label>
                     <div class="col-sm-9">
                         <div>

                           <oi-select oi-options="x for x in speciesIDoptions"
                                      ng-model="confirmation"
                                      placeholder="Select Confirmation of Species Identification"></oi-select>

                           <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>

                     </div>
                 </div>
                  <!-- Locality -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Locality</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" placeholder="Indicate Locality"  ng-model="currentLocality"  typeahead="x.value for x in localDB | filter:$viewValue" class="form-control" ng-change="checkSelection()" required></input>

                         </div>
                         <!-- <p id="help-block"> * Required</p> -->
                     </div>
                 </div>

                 <!-- Site -->
                <div id="Department-group" class="form-group">
                    <label class="col-sm-3 control-label">Site</label>
                    <div class="col-sm-9">
                        <div>
                            <input type="text" name="museumNumber" class="form-control"  ng-model="currentSite"  maxlength="250"></input>
                            <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                        </div>
                        <p id="help-block"> * Required</p>
                    </div>

                </div>

                <!-- Country -->
                <div id="Department-group" class="form-group">
                    <label class="col-sm-3 control-label">Country</label>
                    <div class="col-sm-9">
                        <div>
                          <oi-select oi-options="x.country for x in countryList"
                                     ng-model="currentCountry"
                                     ng-change="checkIfSA()"
                                     required
                                     placeholder="Indicate Country locality is based in"></oi-select>
                        </div>
                        <p id="help-block"> * Required</p>
                    </div>
                </div>

                 <!-- Province/Region-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Province/Region</label>
                     <div class="col-sm-9">
                         <div ng-show="isSouthAfrica">

                           <oi-select oi-options="x.province for x in provinceList"
                                      ng-model="currentProvince"
                                      required
                                      placeholder="Indicate Province locality is based in"></oi-select>
                         </div>

                             <div ng-show="!isSouthAfrica">
                                 <input type="text" name="regionBoss" class="form-control"  ng-model="currentProvince" required maxlength="250" placeholder="Indicate Region locality is based in"></input>
                                 <span class="help-block" ng-show="errorProjectTitle">{{errorProjectTitle}}</span>
                             </div>

                         <p id="help-block"> * Required</p>
                     </div>
                 </div>

                 <!-- Dec (S) -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Dec(S)</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="museumNumber" class="form-control"  ng-model="currentLattitude"  maxlength="250"></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                         </div>
                     </div>
                 </div>

                 <!-- Dec(E) -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Dec(E)</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="museumNumber" class="form-control"  ng-model="currentLongitude"  maxlength="250"></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                         </div>
                     </div>
                 </div>

                 <!-- Received from/Collectors -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Received from / Collectors</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="museumNumber" class="form-control"  ng-model="currentCollectors"  maxlength="250"></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                         </div>
                     </div>
                 </div>

                 <!-- Sex -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Sex</label>
                     <div class="col-sm-9">
                       <div>

                         <oi-select oi-options="x.sex for x in sexOptions"
                                    ng-model="currentSex"
                                    required
                                    placeholder="Select sex of bat"></oi-select>
                       </div>
                       <p id="help-block"> * Required</p>

                     </div>
                 </div>

                 <!-- Age -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Age</label>
                     <div class="col-sm-9">
                       <div>

                         <oi-select oi-options="x.Age for x in ageOptions"
                                    ng-model="currentAge"
                                    required
                                    placeholder="Select age of bat"></oi-select>
                       </div>
                       <p id="help-block"> * Required</p>
                     </div>
                 </div>

                 <!--End of page One-->

                 <div class="saveButton" ng-show="!Btnloader">
                     <button type="submit" class="btn btn-block btn-primary" ng-click="savePage1(); NextPart(2);" ng-disabled="PageOneForm.$invalid" >
                         <span class="glyphicon glyphicon-arrow-right"></span> Next
                     </button>
                 </div>
                 <div class="saveButton" ng-show="Btnloader">
                     <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                         <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                     </button>
                 </div>
                 <div class="saveButton">
                     <button type="button" class="btn btn-block btn-primary" ng-click="BackButton()">
                         <span class="glyphicon glyphicon-arrow-left"></span> Back
                     </button>
                 </div>
                 <br />
                 <br />
                 <br />
                 </div>
             </div>


     </form>


      <!-- Page 2 -->
      <form class="form-horizontal midSection" name="PageTwoForm">

          <!--First section of the project table-->
          <div class="bs-docs-section" ng-show="part2">

              <div class="page-section-header">
                  <div class="section-icon">
                      <i class="">
                          <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                      </i>
                  </div>
                  <h4 id="h5">Data gathering</h4>
                  <hr />
              </div>

              <div class="innerSection">

                  <!-- USER FEEDBACK -->
                  <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                  <h5 id="subHeading">Bat Details</h5>
                  <hr />

                  <!--Source/Host-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Source / Host</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in hostOptions"
                                     ng-model="currentSource"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>
                        <p id="help-block"> * Required</p>

                      </div>
                  </div>

                  <!--Date Collected-->
                  <div id="Department-group" class="form-group row">
                      <label class="col-sm-3 control-label">Date Collected</label>
                      <div class="col-sm-9">
                        <div>
                           <md-datepicker md-current-view="year" md-placeholder="Enter date" id="date-select-box" name="DateFrom" ng-change="dateValidatePro(project)" ng-model="project.DateFrom" ></md-datepicker>
                       </div>
                      </div>
                      <p ng-show="project.DateFrom == null" id="help-block"> * Required</p>
                  </div>
                  <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label" style="color:red;"></label>
                     <div class="col-sm-6">
                         <div>
                             <div ng-show="project.dateMessage" style="color:red;">{{project.dateMessage}}</div>
                             <!--<p ng-show="ResearchProjectForm.project.DateFrom.$invalid" id="help-block"> * Required</p>-->
                         </div>
                     </div>

                 </div>

                  <!--Species-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Species</label>
                      <div class="col-sm-9">
                          <div>

                              <oi-select oi-options="x for x in speciesTypes"
                                         ng-model="currentSpecies"
                                         ng-required
                                         placeholder="Select Species"></oi-select>


                              <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                          </div>
                          <p ng-show="project.DateFrom == null" id="help-block"> * Required</p>
                      </div>
                  </div>


                  <!-- Confirmation of species identification -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Confirmation of species identification</label>
                      <div class="col-sm-9">
                          <div>

                            <oi-select oi-options="x for x in speciesIDoptions"
                                       ng-model="confirmation"
                                       placeholder="Select Confirmation of Species Identification"></oi-select>

                            <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                          </div>

                      </div>
                  </div>
                   <!-- Locality -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Locality</label>
                      <div class="col-sm-9">
                          <div>
                              <input type="text" placeholder="Indicate Locality"  ng-model="currentLocality"  typeahead="x.value for x in localDB | filter:$viewValue" class="form-control" ng-change="checkSelection()" required></input>

                          </div>
                          <!-- <p id="help-block"> * Required</p> -->
                      </div>
                  </div>

                  <!-- Site -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Site</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="museumNumber" class="form-control"  ng-model="currentSite"  maxlength="250"></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                         </div>
                         <p id="help-block"> * Required</p>
                     </div>

                 </div>

                 <!-- Country -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Country</label>
                     <div class="col-sm-9">
                         <div>
                           <oi-select oi-options="x.country for x in countryList"
                                      ng-model="currentCountry"
                                      ng-change="checkIfSA()"
                                      required
                                      placeholder="Indicate Country locality is based in"></oi-select>
                         </div>
                         <p id="help-block"> * Required</p>
                     </div>
                 </div>

                  <!-- Province/Region-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Province/Region</label>
                      <div class="col-sm-9">
                          <div ng-show="isSouthAfrica">

                            <oi-select oi-options="x.province for x in provinceList"
                                       ng-model="currentProvince"
                                       required
                                       placeholder="Indicate Province locality is based in"></oi-select>
                          </div>

                              <div ng-show="!isSouthAfrica">
                                  <input type="text" name="regionBoss" class="form-control"  ng-model="currentProvince" required maxlength="250" placeholder="Indicate Region locality is based in"></input>
                                  <span class="help-block" ng-show="errorProjectTitle">{{errorProjectTitle}}</span>
                              </div>

                          <p id="help-block"> * Required</p>
                      </div>
                  </div>

                  <!-- Dec (S) -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Dec(S)</label>
                      <div class="col-sm-9">
                          <div>
                              <input type="text" name="museumNumber" class="form-control"  ng-model="currentLattitude"  maxlength="250"></input>
                              <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                          </div>
                      </div>
                  </div>

                  <!-- Dec(E) -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Dec(E)</label>
                      <div class="col-sm-9">
                          <div>
                              <input type="text" name="museumNumber" class="form-control"  ng-model="currentLongitude"  maxlength="250"></input>
                              <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                          </div>
                      </div>
                  </div>

                  <!-- Received from/Collectors -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Received from / Collectors</label>
                      <div class="col-sm-9">
                          <div>
                              <input type="text" name="museumNumber" class="form-control"  ng-model="currentCollectors"  maxlength="250"></input>
                              <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                          </div>
                      </div>
                  </div>

                  <!-- Sex -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Sex</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x.sex for x in sexOptions"
                                     ng-model="currentSex"
                                     required
                                     placeholder="Select sex of bat"></oi-select>
                        </div>
                        <p id="help-block"> * Required</p>

                      </div>
                  </div>

                  <!-- Age -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Age</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x.Age for x in ageOptions"
                                     ng-model="currentAge"
                                     required
                                     placeholder="Select age of bat"></oi-select>
                        </div>
                        <p id="help-block"> * Required</p>
                      </div>
                  </div>

                  <!--End of page Two-->

                  <div class="saveButton" ng-show="!Btnloader">
                      <button type="submit" class="btn btn-block btn-primary" ng-click="savePage2(); NextPart(3);" ng-disabled="PageTwoForm.$invalid" >
                          <span class="glyphicon glyphicon-arrow-right"></span> Next
                      </button>
                  </div>
                  <div class="saveButton" ng-show="Btnloader">
                      <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                          <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                      </button>
                  </div>
                  <div class="saveButton">
                      <button type="button" class="btn btn-block btn-primary" ng-click="Back(1)">
                          <span class="glyphicon glyphicon-arrow-left"></span> Back
                      </button>
                  </div>
                  <br />
                  <br />
                  <br />
                  </div>
              </div>


      </form>

      <!-- Page 3 -->
      <form class="form-horizontal midSection" name="PageThreeForm">

          <!--First section of the project table-->
          <div class="bs-docs-section" ng-show="part3">

              <div class="page-section-header">
                  <div class="section-icon">
                      <i class="">
                          <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                      </i>
                  </div>
                  <h4 id="h5">Data gathering</h4>
                  <hr />
              </div>

              <div class="innerSection">

                  <!-- USER FEEDBACK -->
                  <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                  <h5 id="subHeading">Voucher details</h5>
                  <hr />

                  <!--Found Dead-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Found Dead</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x.name for x in trueFalse"
                                     ng-model="wasDead"
                                      ng-change="checkSomething()"

                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <!-- Died before processing -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died before processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedBefore"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died after processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedAfter"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Euthanized due to human exposure</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="euthanised"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>
                  <!--End of page Three-->

                  <div class="saveButton" ng-show="!Btnloader">
                      <button type="submit" class="btn btn-block btn-primary" ng-click="savePage3(); NextPart(4);" ng-disabled="PageTwoForm.$invalid" >
                          <span class="glyphicon glyphicon-arrow-right"></span> Next
                      </button>
                  </div>
                  <div class="saveButton" ng-show="Btnloader">
                      <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                          <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                      </button>
                  </div>
                  <div class="saveButton">
                      <button type="button" class="btn btn-block btn-primary" ng-click="Back(2)">
                          <span class="glyphicon glyphicon-arrow-left"></span> Back
                      </button>
                  </div>
                  <br />
                  <br />
                  <br />
                  </div>
              </div>


      </form>


      <!-- End of page 3 -->

      <!-- Page 4 -->
      <form class="form-horizontal midSection" name="PageFourForm">

          <!--First section of the project table-->
          <div class="bs-docs-section" ng-show="part4">

              <div class="page-section-header">
                  <div class="section-icon">
                      <i class="">
                          <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                      </i>
                  </div>
                  <h4 id="h5">Data gathering</h4>
                  <hr />
              </div>

              <div class="innerSection">

                  <!-- USER FEEDBACK -->
                  <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                  <h5 id="subHeading">Voucher details</h5>
                  <hr />

                  <!--Found Dead-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Found Dead</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x.name for x in trueFalse"
                                     ng-model="wasDead"
                                      ng-change="checkSomething()"

                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <!-- Died before processing -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died before processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedBefore"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died after processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedAfter"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Euthanized due to human exposure</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="euthanised"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>
                  <!--End of page Four-->

                  <div class="saveButton" ng-show="!Btnloader">
                      <button type="submit" class="btn btn-block btn-primary" ng-click="savePage4(); NextPart(5);" ng-disabled="PageFourForm.$invalid" >
                          <span class="glyphicon glyphicon-arrow-right"></span> Next
                      </button>
                  </div>
                  <div class="saveButton" ng-show="Btnloader">
                      <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                          <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                      </button>
                  </div>
                  <div class="saveButton">
                      <button type="button" class="btn btn-block btn-primary" ng-click="Back(3)">
                          <span class="glyphicon glyphicon-arrow-left"></span> Back
                      </button>
                  </div>
                  <br />
                  <br />
                  <br />
                  </div>
              </div>


      </form>


      <!-- End of page 4 -->

      <!-- Page 5 -->
      <form class="form-horizontal midSection" name="PageFiveForm">

          <!--First section of the project table-->
          <div class="bs-docs-section" ng-show="part5">

              <div class="page-section-header">
                  <div class="section-icon">
                      <i class="">
                          <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                      </i>
                  </div>
                  <h4 id="h5">Data gathering</h4>
                  <hr />
              </div>

              <div class="innerSection">

                  <!-- USER FEEDBACK -->
                  <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                  <h5 id="subHeading">Voucher details</h5>
                  <hr />

                  <!--Found Dead-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Found Dead</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x.name for x in trueFalse"
                                     ng-model="wasDead"
                                      ng-change="checkSomething()"

                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <!-- Died before processing -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died before processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedBefore"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died after processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedAfter"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Euthanized due to human exposure</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="euthanised"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>
                  <!--End of page Five-->

                  <div class="saveButton" ng-show="!Btnloader">
                      <button type="submit" class="btn btn-block btn-primary" ng-click="savePage5(); NextPart(6);" ng-disabled="PageFiveForm.$invalid" >
                          <span class="glyphicon glyphicon-arrow-right"></span> Next
                      </button>
                  </div>
                  <div class="saveButton" ng-show="Btnloader">
                      <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                          <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                      </button>
                  </div>
                  <div class="saveButton">
                      <button type="button" class="btn btn-block btn-primary" ng-click="Back(4)">
                          <span class="glyphicon glyphicon-arrow-left"></span> Back
                      </button>
                  </div>
                  <br />
                  <br />
                  <br />
                  </div>
              </div>


      </form>


      <!-- End of page 5 -->

      <!-- Page 6 -->
      <form class="form-horizontal midSection" name="PageSixForm">

          <!--First section of the project table-->
          <div class="bs-docs-section" ng-show="part6">

              <div class="page-section-header">
                  <div class="section-icon">
                      <i class="">
                          <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                      </i>
                  </div>
                  <h4 id="h5">Data gathering</h4>
                  <hr />
              </div>

              <div class="innerSection">

                  <!-- USER FEEDBACK -->
                  <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                  <h5 id="subHeading">Voucher details</h5>
                  <hr />

                  <!--Found Dead-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Found Dead</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x.name for x in trueFalse"
                                     ng-model="wasDead"
                                      ng-change="checkSomething()"

                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <!-- Died before processing -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died before processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedBefore"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Died after processing</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="diedAfter"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>

                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Euthanized due to human exposure</label>
                      <div class="col-sm-9">
                        <div>

                          <oi-select oi-options="x for x in trueFalse"
                                     ng-model="euthanised"
                                     required
                                     placeholder="Type of bat sampled"></oi-select>
                        </div>

                      </div>
                  </div>
                  <!--End of page Six-->

                  <div class="saveButton" ng-show="!Btnloader">
                      <button type="submit" class="btn btn-block btn-primary" ng-click="savePage6(); DoneSubmit();" ng-disabled="PageSixForm.$invalid" >
                          <span class="glyphicon glyphicon-arrow-right"></span> Next
                      </button>
                  </div>
                  <div class="saveButton" ng-show="Btnloader">
                      <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                          <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                      </button>
                  </div>
                  <div class="saveButton">
                      <button type="button" class="btn btn-block btn-primary" ng-click="Back(5)">
                          <span class="glyphicon glyphicon-arrow-left"></span> Back
                      </button>
                  </div>
                  <br />
                  <br />
                  <br />
                  </div>
              </div>


      </form>


      <!-- End of page 6 -->
     <div class="modal fade" id="addModal" role="dialog">
         <div class="modal-dialog modal-lg">
             <div class="modal-content">
                 <div class="modal-header" style="background-color:#005bab; color:white;">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title" id="headMess">{{headM}}</h4>
                 </div>
                 <div class="modal-body">
                     <!--<p id="retMess">{{retM}}</p>-->
                     <div ng-include="urlAdd1.templateUrl" style="display:inline;"></div>
                 </div>
                 <div class="modal-footer">
                     <div>
                         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reloadSection()">Close</button>
                         <!--<button type="button" class="btn btn-default" data-dismiss="modal">No</button>-->
                     </div>
                 </div>
             </div>
         </div>
     </div>


  <br />
  <br />
</div>
