<div ng-include="url.templateUrl" style="display:inline;"></div>
<br/>
<br/>
<br/>


<div ng-controller="dataCollectionCtrl" class="box">

     <form class="form-horizontal midSection" name="PageOneForm">

         <!--First section of the project table-->
         <div class="bs-docs-section" ng-show="part1">

             <div class="page-section-header">
                 <div class="section-icon">
                     <i class="">
                         <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                     </i>
                 </div>
                 <h4 id="h5">Data gathering</h4>
                 <hr />
             </div>

             <div class="innerSection">

                 <!-- USER FEEDBACK -->
                 <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                 <h5 id="subHeading">Bat Details</h5>
                 <hr />

                 <!--Project Title-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">CVZ Laboratory Number</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="projectTitle" class="form-control"  ng-model="cvzCurrentNum" required maxlength="250" disabled></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorProjectTitle}}</span>
                         </div>

                     </div>
                 </div>

                 <!--Field sheet-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Field Sheet</label>
                     <div class="col-sm-9">
                         <div>

                             <oi-select oi-options="x.name for x in yesNo"
                                        ng-model="fieldSheetAns"
                                        placeholder="Select status"></oi-select>

                             <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>
                     </div>
                 </div>

                 <!--Necropsy sheet-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Necropsy Sheet</label>
                     <div class="col-sm-9">
                         <div>

                             <oi-select oi-options="x.name for x in yesNo"
                                        ng-model="necropsySheetAns"
                                        placeholder="Select status"></oi-select>

                             <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>
                     </div>
                 </div>


                 <!-- TCome back to it -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Tattoo number</label>
                     <div class="col-sm-9">
                         <div>

                           <oi-select oi-options="x.name for x in tattooChoices"
                                      ng-model="usersTattoAns"
                                      required
                                      placeholder="Has Tattoo number"></oi-select>

                           <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                         </div>

                     </div>
                 </div>
                  <!-- Other Project Number -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Other Project Number</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="otherProjectNumber" class="form-control"  ng-model="otherProjNum"  maxlength="250"></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                         </div>
                     </div>
                 </div>

                 <!-- Museum Number -->
                <div id="Department-group" class="form-group">
                    <label class="col-sm-3 control-label">Museum Number</label>
                    <div class="col-sm-9">
                        <div>
                            <input type="text" name="museumNumber" class="form-control"  ng-model="museumNum"  maxlength="250"></input>
                            <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                        </div>
                    </div>
                </div>

                 <!--Experimental Colony-->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Experimental Colony</label>
                     <div class="col-sm-9">
                         <div>

                           <oi-select oi-options="x.name for x in requiredYesNo"
                                      ng-model="experiColonAns"
                                      required
                                      placeholder="Indicate if live bat was taken to NCID for experimental purpose"></oi-select>
                         </div>
                         <p id="help-block"> * Required</p>
                     </div>
                 </div>

                 <!--End of page One-->

                 <div class="saveButton" ng-show="!Btnloader">
                     <button type="submit" class="btn btn-block btn-primary" ng-click="savePage1(); NextPart(2);" ng-disabled="PageOneForm.$invalid" >
                         <span class="glyphicon glyphicon-arrow-right"></span> Next
                     </button>
                 </div>
                 <div class="saveButton" ng-show="Btnloader">
                     <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                         <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                     </button>
                 </div>
                 <div class="saveButton">
                     <button type="button" class="btn btn-block btn-primary" ng-click="BackButton()">
                         <span class="glyphicon glyphicon-arrow-left"></span> Back
                     </button>
                 </div>
                 <br />
                 <br />
                 <br />
                 </div>
             </div>


     </form>


      <!-- Page 2 -->
      <form class="form-horizontal midSection" name="PageTwoForm">

          <!--First section of the project table-->
          <div class="bs-docs-section" ng-show="part2">

              <div class="page-section-header">
                  <div class="section-icon">
                      <i class="">
                          <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                      </i>
                  </div>
                  <h4 id="h5">Data gathering</h4>
                  <hr />
              </div>

              <div class="innerSection">

                  <!-- USER FEEDBACK -->
                  <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div>







                  <h5 id="subHeading">Bat Details</h5>
                  <hr />

                  <!--Project Title-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">CVZ Laboratory Number</label>
                      <div class="col-sm-9">
                          <div>
                              <input type="text" name="projectTitle" class="form-control"  ng-model="cvzCurrentNum" required maxlength="250" disabled></input>
                              <span class="help-block" ng-show="errorProjectTitle">{{errorProjectTitle}}</span>
                          </div>

                      </div>
                  </div>

                  <!--Field sheet-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Field Sheet</label>
                      <div class="col-sm-9">
                          <div>

                              <oi-select oi-options="x.name for x in yesNo"
                                         ng-model="fieldSheetAns"
                                         placeholder="Select status"></oi-select>

                              <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                          </div>
                      </div>
                  </div>

                  <!--Necropsy sheet-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Necropsy Sheet</label>
                      <div class="col-sm-9">
                          <div>

                              <oi-select oi-options="x.name for x in yesNo"
                                         ng-model="necropsySheetAns"
                                         placeholder="Select status"></oi-select>

                              <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                          </div>
                      </div>
                  </div>


                  <!-- TCome back to it -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Tattoo number</label>
                      <div class="col-sm-9">
                          <div>

                            <oi-select oi-options="x.name for x in tattooChoices"
                                       ng-model="usersTattoAns"
                                       required
                                       placeholder="Has Tattoo number"></oi-select>

                            <span class="help-block" ng-show="errorStatus">{{errorStatus}}</span>
                          </div>

                      </div>
                  </div>
                   <!-- Other Project Number -->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Other Project Number</label>
                      <div class="col-sm-9">
                          <div>
                              <input type="text" name="otherProjectNumber" class="form-control"  ng-model="otherProjNum"  maxlength="250"></input>
                              <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                          </div>
                      </div>
                  </div>

                  <!-- Museum Number -->
                 <div id="Department-group" class="form-group">
                     <label class="col-sm-3 control-label">Museum Number</label>
                     <div class="col-sm-9">
                         <div>
                             <input type="text" name="museumNumber" class="form-control"  ng-model="museumNum"  maxlength="250"></input>
                             <span class="help-block" ng-show="errorProjectTitle">{{errorOPN}}</span>
                         </div>
                     </div>
                 </div>

                  <!--Experimental Colony-->
                  <div id="Department-group" class="form-group">
                      <label class="col-sm-3 control-label">Experimental Colony</label>
                      <div class="col-sm-9">
                          <div>

                            <oi-select oi-options="x.name for x in requiredYesNo"
                                       ng-model="experiColonAns"
                                       required
                                       placeholder="Indicate if live bat was taken to NCID for experimental purpose"></oi-select>
                          </div>
                          <p id="help-block"> * Required</p>
                      </div>
                  </div>

                  <!--End of page One-->

                  <div class="saveButton" ng-show="!Btnloader">
                      <button type="submit" class="btn btn-block btn-primary" ng-click="savePage1(); NextPart(2);" ng-disabled="PageOneForm.$invalid" >
                          <span class="glyphicon glyphicon-arrow-right"></span> Next
                      </button>
                  </div>
                  <div class="saveButton" ng-show="Btnloader">
                      <button class="btn btn-primary btn-block active" style="color:black ; background:#33a6cc">
                          <span style="position: relative; color:white; background-color:white;" us-spinner="{radius:3, width:3, length: 6}"></span>
                      </button>
                  </div>
                  <div class="saveButton">
                      <button type="button" class="btn btn-block btn-primary" ng-click="BackButton()">
                          <span class="glyphicon glyphicon-arrow-left"></span> Back
                      </button>
                  </div>
                  <br />
                  <br />
                  <br />
                  </div>
              </div>


      </form>

            <!--third section of the project table containg questions-->

     <div class="modal fade" id="addModal" role="dialog">
         <div class="modal-dialog modal-lg">
             <div class="modal-content">
                 <div class="modal-header" style="background-color:#005bab; color:white;">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title" id="headMess">{{headM}}</h4>
                 </div>
                 <div class="modal-body">
                     <!--<p id="retMess">{{retM}}</p>-->
                     <div ng-include="urlAdd1.templateUrl" style="display:inline;"></div>
                 </div>
                 <div class="modal-footer">
                     <div>
                         <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reloadSection()">Close</button>
                         <!--<button type="button" class="btn btn-default" data-dismiss="modal">No</button>-->
                     </div>
                 </div>
             </div>
         </div>
     </div>


  <br />
  <br />
</div>
