<div ng-include="url.templateUrl" style="display:inline;"></div>
<br/>
<br/>
<br/>

<div ng-controller="findingsCtrl" class="box">

    <!--<div id="messages" ng-model="message" ng-show="message">{{message}}</div>-->
    <!--     <form ng-submit="ProcessForm()"> -->
    <form class="form-horizontal midSection"  name="projectForm">
        <div class="bs-docs-section" ng-if="isAdmin">

            <!-- PAGE HEADER -->
            <div>
                <div class="section-icon">
                    <i class="">
                        <img class="img-responsive" src="img/icons/projects-icon-128px.png" />
                    </i>
                </div>
                <h4 id="h5">Admin functions</h4>
                <hr />
            </div>

            <div class="innerSection">
                <!-- USER FEEDBACK -->
                <!-- <div class="messages" ng-model="message" ng-show="message" style="border-color:{{feedColor}}">{{message}}</div> -->

                <div ng-show="!loader" style="position: relative">
                    <div class="loading-icon">
                        <span class="loader"><span class="loader-inner"></span></span>
                        <label class="loadingText">Loading. Please be patient.</label>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                </div>

                <div ng-show="loader">

                  <h5 id="subHeading">Search Admin Functions</h5>
                  <!-- <div style="display:inline">
                      <nit-advanced-searchbox ng-model="searchParams"
                                              parameters="availableSearchParams"
                                              placeholder="Search..." id="searchSection">
                      </nit-advanced-searchbox>
                  </div> -->

                  <div ng-dropdown-multiselect="" options="getAdminData" selected-model="dbmodel" extra-settings="example9settings" events="adminOptionBoxEvents"></div>
                  <h5 id="subHeading">Admin Table</h5>
                <div class="tableButtons">
                    <button type="button" class="btn btn-block btn-primary" ng-click="add()"><span class="glyphicon glyphicon-plus-sign"></span> Add To Database</button>
                </div>
                <table class="table table-hover table-bordered table-striped animate-if" style="background-color:white;" ng-if="dbmodel.length != 0">
                    <thead>
                        <tr>
                            <th>Column</th>
                            <th>Attributes</th>
                            <!--<th>Head Collaborator</th>-->

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="v in getAdminData">
                            <td ng-if="dbmodel.indexOf(v) >= 0">
                                {{v.Description}}
                            </td>
                            <td ng-if="dbmodel.indexOf(v) >= 0">
                                <div ng-repeat="x in sexOptions">
                                    <div style="display:inline">{{x.sex}}</div>: <div style="display:inline">{{x.value}}</div>
                                </div>
                            </td>
                            <!--<td>
                        {{x.RI_ID}}
                    </td>-->

                            <td class="threeButtons" ng-if="dbmodel.indexOf(v) >= 0">
                                <!--style="width:195px"-->
                                <button type="button" class="btn btn-link spacer adminIcons" ng-click="edit(v.ID)"><span title="edit function" class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-link spacer adminIcons" ng-click="view(v.ID)"><span title="view function" class="glyphicon glyphicon-eye-open"></span></button>
                                <button type="button" class="btn btn-link spacer adminIcons" ng-click="deleteItem(v.ID)"><span title="delete function" class="glyphicon glyphicon-trash"></span></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <center>
                    <dir-pagination-controls class="paginationCtrls" max-size="5"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </center>

                    </div>


                <div class="saveButton adminBack">
                    <button type="button" class="btn btn-block btn-primary" ng-click="Back()">
                        <span class="glyphicon glyphicon-arrow-left"></span> Back
                    </button>
                </div>

            </div>
            </div>
    </form>

</div>
