<!-- <div ng-include="url.templateUrl" style="display:inline;"></div> -->

<!--<h2>Home Page</h2>-->
<div class="container-fluid">
    <!--<br>-->
    <div ng-include="url.templateUrl" style="display:inline;"></div>
    <h1 class="h2-style">Zoonosis Home Page</h1>
    <div class="box">
        <div class="midSection">

            <br/>
            <div ng-controller="homePageCtrl" id="menu" style="height:70%; background-color:white;">

                <div style="width:800px;margin:auto">


                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div ng-click="goTodataCollection()" class="hBtnDiv">
                                <img class="eightenyardarea" src="img/icons/institutions-icon-128px.png" />
                                <h4 class="hBtnText">Data Collection</h4>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div ng-click="viewFindings()" class="hBtnDiv">
                                <img class="eightenyardarea" src="img/Icons/projects-icon-128px.png" />
                                <h4 class="hBtnText">View Database</h4>
                            </div>
                        </div>
                      </div>

                    <!--</md-content>-->
                </div>
            </div>

        </div>
    </div>



</div>
