  <div ng-controller="navCtrl" id="navCont">

    <nav class="navbar navbar-inverse" id="daNavi">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" >
                      <img class="navImg" src="img/Icons/up-logo-long-200px.jpg" />
                  </a>
                  <h5 id="drpHead">Zoonosis</h5>
                  <button type="button" class="navbar-toggle noBorder" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
          <div class="collapse navbar-collapse" id="myNavbar">
              <!--<h4 id="drpHead">Departmental Research Plans</h4>-->

              <ul class="nav navbar-nav navbar-right">
                  <li ng-click="home()" id="homeNav" class="navBtnW" ng-class="{ active: homeActive()}"><a> Home</a></li>
                  <li ng-click="viewdataCollection()" class="navBtnW" id="projectNav" ><a> View Data Collection</a></li>

                  <li ng-click="viewFindings()" class="navBtnW"><a> View Findings</a></li>
                  <li class="navBtnW admBtn" ng-click="adminPanel()" ng-hide="!Auth.isAdmin" ng-class="{ active: adminActivate()}"><a> Admin </a></li>
                  <li id="navPipe" ><a> | </a></li>


                  <li class="dropdown navBtnW usrDrp">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;"><span class="glyphicon glyphicon-user"></span>  User <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li ng-click="viewUserAccount()" ng-class="{ active: isActive()}"><a><span class="glyphicon glyphicon-user"></span> User </span></a></li>
                          <li style="padding-right:15px;" ng-click="logout()"><a><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
                      </ul>
                  </li>
              </ul>
          </div>
              </div>
  </nav>

  </div>
