@import url(fonts.css);

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	padding: 0;
	margin: 0;
  font-family: Raleway;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

#game-container{
	width: 100%;
}

.button{
	font-family: Raleway;
	font-size: 1.1em;
	margin: 3px;
	border: solid 1px #000;
	border-radius: 20px;
	background: #fff;
	text-align: center;
	color: #000;
	transition: background 0.4s, color 0.4s;
}

.game-choice{
	width: 100%;
	margin-top: 50px;
}

.game-choice ul li{
		display: inline-block;
	}

.game-choice ul{
	width: 100%;
	}

.game-choice .button{
		width: 10%;
		padding: 25px;
		border: solid 1px #000;
		border-radius: 20px;
		background: #fff;

		text-align: center;
		/*font-size: 2.18em;*/
		color: #000;

		transition: all 400ms;


	}
.game-choice  .button:hover{
		background: #bfbfbf; /* Grey*/
		transition: all 400ms;
	}
}

/* UI ELEMENTS */


.ui-element{
  width: 100%;
	border: 1px solid;
  float: left;
	padding: 10px;
}

.ui-element > h3{
  padding: 10px;
	text-decoration: underline;
}

.button{
	font-family: Raleway;
	font-size: 1.1em;
	border: 1px solid #a5a5af;
	background: transparent;
	border-radius: 3px;
	padding: 10px;
	color: #a5a5af;
	margin: 3px;
	transition: background 0.4s, color 0.4s;
}

.button:hover{
	color: #4d4d4f;
	background: #a5a5af;
	transition: background 0.4s, color 0.4s;
}

.speech-bubble{
	position: relative;
	width: 300px;
	height: 160px;
	text-align: center;
	background: #fff;
	border: 4px solid #a5a5af;
	webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
	padding: 15px;
	margin-bottom: 50px;
}

.speech-bubble:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	top: 152px;
	border: 25px solid;
	border-color: #a5a5af transparent transparent #a5a5af;
}

.speech-bubble:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 34px;
	top: 152px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

table{
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

td{
	width: 80px;
	height: 80px;
	font-size: 2em;
	border: solid 4px;
	padding: 0;
}

td > div{
	position: static!important;
	top: auto!important;
	width: 100%;
}

td img{
	position: static!important;
	top: auto!important;
	width: 55px;
	height: auto;
	padding: 0;
	margin: auto;
}

.options{

  width: 50%;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}


.options > div{
	width: 100%;
}
.options > div > div{
	display: inline-block;
	width: 45px;
	margin: auto;
}

.options > div > div> img{
	width: 100%;
}

.drag{
	width: 55px;
}

.current-drag img{
	width: 60px!important;
	height: auto;
	animation-name: rota;
	animation-duration: infinte;
}

.drop-hover{
	border: #fff;
	transition: all 400ms;
}

.options>div>div>img.not-started{
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
		transition: 0.8s all;
}

.remove{
	position: relative!important;
}
.split{
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.left{
	float: left;
}

.right{
	float: right;
}

.submit-button{
	display: inline-block;
	width: 70px;
	height: 60px;
	margin: 10px;
	background: #fff;
	padding: 10px;
	border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.submit-button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	color: #fff;
}

.submit-button span{
	text-align: center;
	margin: auto;
	width: 100%;
}

.cross{
	color: #FF0000;
}

.check{
	color: #2e7d32;
}

.cross:hover{
	background: #FF0000;
}

.check:hover{
	background: #2e7d32;
}

.reading-card{
	background: #fff;
	color: #000;
	font-size: 2.5em;
	border: solid #000 1px;
	border-radius: 2px;
	width: auto;
	margin: 6% auto 0px auto;
	width: 70%;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}
.reading-card ul{
	position: relative;
	text-align: center;
	list-style-type: none;
}

.reading-card ul li{
	padding: 10px;
	height: 70px;
}

.reading-card ul li:hover, .reading-card ul li:active{
	font-weight: bolder;
	transition: all 500ms ease-in;
	;
}

#arrow{
	position: absolute;
	height: 40px;
	margin-top: 15px;
	left: 10px;
	top: 0px;
	transition: transform 200ms ease-in-out;
}

.definition-card{
	background: #fff;
	color: #000;
	font-size: 1em;
	border: solid #000 1px;
	border-radius: 2px;
	width: 60%;
	margin: 6% auto;
	padding: 10px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}

#next{
	width: 20%;
	margin: 0px 10%;
	float: right;
	transition: all 200ms;
}

#next:hover{
	transition: all 200ms;
	-webkit-filter: drop-shadow(5px 5px 2px rgba(0,0,0,0.4));
  filter: drop-shadow( 5px 5px 2px rgba(0,0,0,0.4));
}

.marking-container{
	width: 60%;
	margin: auto;
	text-align: center;
}

.marking-container > submit-button{
	margin: 0 auto;
	display: inline-block;
	align-self: center;
}

.marking-card{
	background: #fff;
	color: #000;
	font-size: 2em;
	border: solid #000 1px;
	border-radius: 2px;
	text-align: center;
	width: 250px;
	margin: 10% auto;
	padding: 10px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}
.descriptiveImg{
	width: 100%;
}

.topper {
  background: cornflowerblue; }

/*#other-container {
  width: 80%;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  background: gray; }*/

	.bg-progress__bar {
    display: block;
    position: relative;
    top: -6px;
    left: -5px;
    height: 15px;
    overflow: hidden;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #42A2DA;
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4); }
  .bg-progress__bar:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 50px 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    animation: move 2s linear infinite; }



.ng-hidez{
	opacity: 0;
}

.higlighted{
	color: #00c150;
}
